<h1>Welcome to Credit Right <%= @name %>!</h1>
<h3>You have been approved for our Online Viewing Portal.</h3>
<p>Please click <%= link_to "here", complete_registrant_url( @key ) %> to complete your registration.</p>
